<div class=" hero-wrap bg-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="text-light">My Projects</h1>
    </div>
</div>


<div class="project-main">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bill Pay Viewer</h5>
                <p class="card-text">This app allows you to search the paid invoices for bill pay.</p>
                <p class="card-text">This app uses an Spring Boot, ThymeLeaf, and H2 database.</p>
            </div>
            <div class="card-footer">
                <a href="https://github.com/edster1967/natived-bill-pay-viewer" class="btn btn-primary" target="_blank">View Github Repo</a>
            </div>


        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">xml-oracle-node-example</h5>
                <p class="card-text">This is a simple app that reads a record from an oracle database and transforms it into xml to send to the UI. This is an example of using oracle connections in node using system variables.</p>

            </div>
            <div class="card-footer">
                <a href="https://github.com/edster1967/xml-oracle-node-example" class="btn btn-primary" target="_blank">View Github Repo</a>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Blogging App</h5>
                <p class="card-text">This is an app that uses Angular, Angular Material, and Auth0. It allows users to log into the application using their credentials. Once logged in they can add and delete posts.</p>

            </div>
            <div class="card-footer">
                <a href="https://github.com/edster1967/eln-blog" class="btn btn-primary" target="_blank">View Github Repo</a>
            </div>

        </div>

    </div>

</div>