<div class=" hero-wrap bg-white text-center">
    <div class="container text-light">
        <h1>My photos</h1>
    </div>
    <div class="photo-carousel">
        <div class="container">
            <carousel>
                <slide>
                    <img src="./assets/img/wolfcreek.jpg" alt="first slide" class="photo-carousel-img">
                </slide>
                <slide>
                    <img src="assets/img/squire_castle.jpg" alt="third slide" class="photo-carousel-img">
                </slide>
                <slide>
                    <img src="assets/img/bellagio_ftn.jpg" alt="third slide" class="photo-carousel-img">
                </slide>
                <slide>
                    <img src="assets/img/vegas_sign.jpg" alt="third slide" class="photo-carousel-img">
                </slide>
            </carousel>
        </div>

    </div>
</div>

<div id="photo-card-gallery">

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="./assets/img/ac_gallery.jpg" alt="antelope-canyon-trail">
            <div class="card-body">
                <h5 class="card-title">Monument Valley</h5>
                <p class="card-text">My adventure in Monument Valley in AZ</p>
            </div>
            <div class="card-footer">
                <a routerLink="/photo-gallery/monument-valley" class="btn btn-primary">View Gallery</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="./assets/img/mv_gallery.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Monument Valley</h5>
                <p class="card-text">My adventure in Monument Valley in AZ</p>

            </div>
            <div class="card-footer">
                <a routerLink="/photo-gallery/monument-valley" class="btn btn-primary">View Gallery</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="./assets/img/sedona_eln.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sedona</h5>
                <p class="card-text">My adventure in Sedona in AZ</p>
            </div>
            <div class="card-footer">
                <a routerLink="/photo-gallery/sedona" class="btn btn-primary">View Gallery</a>
            </div>
        </div>
    </div>

</div>