<div class=" hero-wrap bg-white text-center">
    <div class="container text-light">
        <h1 class="text-uppercase mb-2">Edward L. Natividad Jr.</h1>
        <img src="./assets/img/eln_portrait.jpg" alt="Ed Natividad Portrait">
        <p class="font-weight-dark mb-2">Software Developer - Ameteur Photographer</p>
    </div>
</div>

<div class="about text-center">
    <div class="about-copy container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-dark mb-4">About Me</h2>
                <p class="text-dark ">Welcome to my page. I consider myself an energetic software developer creating robust code for high-volume businesses in retail, banking and manufacturing. Passionate about Agile processes and methodologies, an enthusiastic team player,
                    and a deep creative thinker.
                </p>
                <p class="text-dark ">In my spare time, I am trying to become a better photographer. Some of my favorite types of photos I like to take are scenic/nature photos. My idol would be Ansel Adams.
                </p>
            </div>
        </div>

    </div>
</div>